body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.fa-6 {
  font-size: 20em;
}

a {
  color: #00B7FF;
}

.center-form {
  width: 315px;
  margin: 5% auto;
}

.view {
  max-width: 600px;
  margin: 5% auto;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: inline;
}

.thumbnail {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .04),0 1px 5px rgba(0, 0, 0, .1);
}

.card {
  margin-bottom: 25px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}