<div class="container">

    <div ng-if="isLoggedIn() && currentUser.email">
        <div class="row" ng-show="photos.length == 0">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p>You don't have any photos yet. <a href="#/upload">Upload</a> now?</p>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="photo in photos" class="col-lg-4 col-sm-3 col-xs-4">
                <a href="#/p/{{photo._id}}">
                    <img ng-src="{{'/upload/' + photo.url}}" class="thumbnail img-responsive">
                </a>
            </div>
        </div>
    </div>

</div>